@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@media (min-width: 768px){
  body{
    overflow: hidden;
  }
  .ant-btn-primary {
    background-color: #1677ff;
  }
  
  .categories::-webkit-scrollbar {
    display: none;
  }
}
